<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>


    <title>HTML TO PDF EXPORTER</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='style/loader.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Code Pro">
    
</head>
<body>
    <div class="block" id="block">
        <div class="loader">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    </div>

<abbr title="Dasturchi bilan aloqa"><div class="auth">
    <a target="_top" rel="noopener noreferrer" href="http://t.me/Abdumannon_Shamsiyev"><span class="material-icons">telegram</span></a>

</div></abbr>

    <div class="container">

<div class="buttonBar">
<button class="btn" id="open" onclick="click()"> 
   <span class="material-icons">description</span>
</button>

<div  class="caption"><h2>HTML to PDF Exporter </h2><br><h4>Author Abdumannon Shamsiyev</h4></div>

<button class="btn" id="publish">
 <span class="material-icons">publish</span>

</button>

</div>


<div class="frame">
<textarea name="" id="code"  oninput="change()" ></textarea>
<iframe  frameborder="0" id = "view" class="view"></iframe>
    </div>
    
</div>
<script>
    
</script>

<script src="script/index.js"></script>

</body>
</html>